@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section Title {
	<title>@Localizer["DesktopApplicationDevelopmentTitle"]</title>
}
@section Description {
	<meta name="description" content="@Localizer["DesktopApplicationDevelopmentDescription"]">
}
@section Keywords {
	<meta name="keywords" content="@Localizer["DesktopApplicationDevelopmentKeywords"]">
}

<!--breadcrumb-->
<section class="page_title ls s-py-50 corner-title ls invise overflow-visible">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>@Localizer["DesktopApplicationDevelopment"]</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a asp-controller="Home" asp-action="Index">@Localizer["MainPage"]</a>
					</li>
					<li class="breadcrumb-item">
						<a asp-controller="Home" asp-action="Services">@Localizer["Services"]</a>
					</li>
					<li class="breadcrumb-item active">
						<a asp-controller="Home" asp-action="DesktopApplicationDevelopment">@Localizer["DesktopApplicationDevelopment"]</a>
					</li>
				</ol>
				<div class="divider-15 d-none d-xl-block"></div>
			</div>
		</div>
	</div>
</section>


<section class="ls s-pt-30 s-pb-50 s-pt-lg-50 s-pb-lg-100 c-mb-50 service-item4">
	<div class="d-none d-lg-block divider-65"></div>
	<div class="container">
		<div class="row">
			<!--sidebar-->
			@Html.Partial("SingleServicesSidebar")
			<!--description section-->
			<div class="col-md-8 ">
				<img src="~/images/desktopappdev.jpg" alt="Desktop Application Development">
				<div class="icon-box hero-bg single">
					<p class="excerpt">
						@Localizer["DesktopAppDevP1"]
					</p>
					<p>
						@Localizer["DesktopAppDevP2"]
					</p>
					<div class="row c-gutter-60 c-mb-20 c-mb-lg-40">

						<div class="col-md-12 col-lg-12 list-comtent">
							<h6>@Localizer["Specialities"]</h6>
							<ul class="list1">
								<li>
									@Localizer["DesktopAppDevL1"]
								</li>
								<li>
									@Localizer["DesktopAppDevL2"]
								</li>
								<li>
									@Localizer["DesktopAppDevL3"]
								</li>
								<li>
									@Localizer["DesktopAppDevL4"]
								</li>
								<li>
									@Localizer["DesktopAppDevL5"]
								</li>
								<li>
									@Localizer["DesktopAppDevL6"]
								</li>
							</ul>
						</div>
					</div>
					<!-- .row -->

					<p>
						@Localizer["DesktopAppDevP3"]
					</p>

				</div>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block divider-50"></div>
</section>
